<div class="col-md-12">
  <div class="row">
<div class="col-md-6 col-lg-4 mb-5">
  <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
    </div>
    <img class="img-fluid" src="assets/guinguettes/{{ article.image }}" alt="La guinguette de STJUST !" />
  </div>
</div>

<div class="col-md-6 col-lg-4 mb-5">
  <h1 class="text-info">{{ article.titre }}</h1>
  <div>{{ article.contenu }}</div>
  <button (click)="vote()" class="btn btn-success">Ma photo préférée</button>
</div>
</div>
</div>
