<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <h1>Les formateurs de la session</h1>
    <h2>Affichage d'une liste</h2>
    <ul>
      <li *ngFor="let formateur of tableau">{{ formateur }}</li>
    </ul>

    <h2>Exemple sur les options d'un select : </h2>

    <label>Quel formateur vous a accompagné à la guinguette ?</label>

    <select>
      <option *ngFor="let formateur of tableau">{{ formateur }}</option>
    </select>

    <h2>
      Exemple de punition ! (Ecrire 100 fois je n'abuserais pas de la guinguette)
    </h2>

    <ul>
      <li *ngFor="let elem of numbers">{{ elem + 1 }} - Je n'abuserais pas de la guinguette !</li>
    </ul>
  </div>
</section>
