<div class="masthead bg-primary text-white text-center ">

  <div class="col-md-12">
    <div class="col-md-12" [ngSwitch]="mood">
      <h1 class="text-center" *ngSwitchCase="'content'">
        Je suis content !!
      </h1>
      <h1 class="text-center" *ngSwitchCase="'pas content'">
        Je suis pas content !!
      </h1>
      <h1 class="text-center" *ngSwitchCase="'en pls'">
        Je suis en PLS !!
      </h1>
      <h1 class="text-center" *ngSwitchDefault>
        J'ai oublié mon phil rouge
      </h1>
    </div>
  </div>

  <div class="container d-flex align-items-center">



      <div class="col-md-4">
        <fa-icon (click)="changeMood('con\'tent')" style="color: yellow" [icon]="faSmile"></fa-icon>
      </div>
      <div class="col-md-4">
        <fa-icon (click)="changeMood('pas content')" style="color: darkred" [icon]="faFaceFrownOpen"></fa-icon>
      </div>
      <div class="col-md-4">
        <fa-icon (click)="changeMood('en pls')" style="color: white" [icon]="faAmbulance"></fa-icon>
      </div>
    </div>




  </div>

