<app-header-menu></app-header-menu>
<app-guinguette [articleFavori]="favoriteArticle" ></app-guinguette>
<app-article-list (vote)="vote($event)"></app-article-list>
<app-mood></app-mood>

<app-for></app-for>

<app-if></app-if>

<router-outlet></router-outlet>
