<header class="masthead bg-primary text-white text-center ">
  <div class="container d-flex align-items-center flex-column">

    <h1 class="masthead-heading text-uppercase mb-0">DWWM ST JUST ST RAMBERT</h1>

    <ng-container *ngIf="!articleFavori">
      <!-- Masthead Avatar Image-->
      <img class="img-thumbnail" src="assets/guinguette.jpg" alt="La guinguette !"/>
      <!-- Masthead Heading-->

      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0 text-danger">Vous n'avez pas voté !</p>
    </ng-container>

    <ng-container *ngIf="articleFavori">
      <!-- Masthead Avatar Image-->
      <img class="img-thumbnail" src="assets/guinguettes/{{ articleFavori.image }}" alt="La guinguette !"/>
      <!-- Masthead Heading-->

      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0 text-danger">{{ articleFavori.titre }}!</p>
    </ng-container>
  </div>

</header>
