<div [ngClass]="{'bg-dark' : activeSelector == 'moon'}" class="masthead bg-primary text-white text-center ">
  <fa-icon (click)="changeTheme('sun')" *ngIf="activeSelector == 'moon'" [icon]="faSun"></fa-icon>
  <fa-icon (click)="changeTheme('moon')" *ngIf="activeSelector == 'sun'" [icon]="faMoon"></fa-icon>


</div>
